@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #c6c5ca;
    padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #2c098a;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #2e0ea1;
	height: 3px;
	box-sizing: border-box;
	width: 180px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #e20000;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.pricing{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:linear-gradient(45deg,#ffaf00,#bb02ff);
	background-attachment: fixed;
}
.container1{
	position: relative;
	width: 1150px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container1 .card{
	position: relative;
	width: 300px;
	height: 420px;
	background: #fff;
	margin: 20px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 15px 25px rgba(255,255,255,0.2);
	transition: 0.05s;
}
.container1 .card .circle{
position: relative;
width: 100%;
height: 100%;
background:#000;
clip-path: (180px at center 0);
text-align: center;

}
.container1 .card .circle h2{
	color: rgb(0, 0, 0);
	font-size: 20px;
	padding: 30px 0;
	font-weight: bold;
}
.container1 .card .content1{
	position: absolute;
	bottom: 10px;
	padding-bottom: 20px;
	text-align: center;
}

.container1 .card .content1 .a{
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	background: rgb(129, 21, 21);
	color: #ffffff;
	border-radius: 40px;
	text-decoration: none;
	margin-top: 20px;
}
.container1 .card:nth-child(1) .circle,
.container1 .card:nth-child(1) .content1 a{
background: rgb(50, 36, 172);
}
.container1 .card:nth-child(2) .circle,
.container1 .card:nth-child(2) .content1 a{
background: #bb02ff;
}
.container1 .card:nth-child(3) .circle,
.container1 .card:nth-child(3) .content1 a{
background: #da2268;
}
.circle p{
	font-family: 'Poppins', sans-serif;

color: rgb(231, 204, 231);

}
.card:hover{
	background-color: rgb(0, 0, 0);
	transition: 5.ms;
}
html,body{
	overflow-x:hidden;
	max-width: 100%;
}

@media(max-width:768px){
	.nav-item{
		text-align: center!important;
	}
	


}